<!DOCTYPE html>
<html>
<head>
  <title>quiz app</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
  body {
    backgroud:silver;
  }
</style>
</head>
<body> 

  <div class="home-page">

  	<h1>You Have Come To The Worst Quiz Ever</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. Do you have a life?</p>
  		<input type="radio" name="q1" value="No">No<br>
  		<input type="radio" name="q1" value="No">No<br>
  		<input type="radio" name="q1" value="No">No<br>
  		<input type="radio" name="q1" value="No">No<br>
  	<p>2. Finish this sentence, "I like to..."</p>
  		<input type="radio" name="q2" value="Move it Move it!">Move it Move it!<br>
  		<input type="radio" name="q2" value="Move it Move it!">Move it Move it!<br>
  		<input type="radio" name="q2" value="Move it Move it!">Move it Move it!<br>
  		<input type="radio" name="q2" value="Move it!">Move it!<br>
  	<p>3. What is the answer to this question?</p>
  		<input type="radio" name="q3" value="This">Next one<br>
  		<input type="radio" name="q3" value="This">Next one<br>
  		<input type="radio" name="q3" value="This">Next one<br>
  		<input type="radio" name="q3" value="This">The first one<br>
  	<p>4. Are you sure?</p>
  		<input type="radio" name="q4" value="Yes">Yes?<br>
  		<input type="radio" name="q4" value="no">No<br>
  		<input type="radio" name="q4" value="Are YOU sure?">Are YOU sure?<br>
  		<input type="radio" name="q4" value="I like turtles">I like turtles<br>
  	<p>5. How would you rate yourself suiciding after this quiz?</p>
  		<input type="radio" name="q5" value="0">0<br>
  		<input type="radio" name="q5" value="21">21<br>
  		<input type="radio" name="q5" value="69">69<br>
  		<input type="radio" name="q5" value="Over 9000!!!">Over 9000!!!<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

